body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #dfe9f3, #ffffff);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav-btn {
    position: fixed;
    top: 20px;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    padding: 8px 14px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.2s;
}

.nav-btn:hover {
    background: rgba(0,0,0,0.3);
}

#prevBtn { left: 20px; }
#nextBtn { right: 20px; }

.question-container {
    margin-top: 100px;
    animation: fadeIn 0.4s ease-in-out;
}

.question-text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 45px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
}

.score {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #111;
    color: #fff;
    padding: 10px 22px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
}

.option.correct {
    background: #1e9e48 !important;
}
.option.wrong {
    background: #b91c1c !important;
}


.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 70%;
    margin: 0 auto;
}

.option {
    background: #111;
    color: white;
    padding: 25px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.25s;
}

.option:hover {
    transform: scale(1.04);
    background: #222;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

